<%#
LuCI - Lua Configuration Interface
Copyright 2008 Steven Barth <steven@midlink.org>
Copyright 2008-2010 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id: header.htm 7810 2011-10-28 15:15:27Z jow $

-%>
<%
 	package.path = package.path .. ";/etc/qmp/?.lua"
	local sys  = require "luci.sys"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"
	local qmp = require "qmpinfo"

	local qmpheader = "qMp "..qmp.get_version("branch").." r."..qmp.get_version("revision")..string.sub(qmp.get_version("build"),1,8)
            
	local hostname = sys.hostname()
	local load1, load5, load15 = sys.loadavg()

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end

	http.prepare_content("application/xhtml+xml")

	local function nodeurl(prefix, name, query)
		local url = controller .. prefix .. name .. "/"
		if query then
			url = url .. http.build_querystring(query)
		end
		return pcdata(url)
	end


-%>

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%=luci.i18n.context.lang%>" lang="<%=luci.i18n.context.lang%>">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="shortcut icon" href="/luci-static/qmp/favicon.ico" />
<link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/cascade.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie7.css" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" media="screen" href="<%=media%>/ie8.css" /><![endif]-->
<% if node and node.css then %><link rel="stylesheet" type="text/css" media="screen" href="<%=resource%>/<%=node.css%>" />
<% end -%>
<script type="text/javascript" src="<%=resource%>/xhr.js"></script>
<title><%=striptags( hostname .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
</head>
<body class="lang_<%=luci.i18n.context.lang%>">

<p class="skiplink">
<span id="skiplink1"><a href="#navigation"><%:Skip to navigation%></a></span>
<span id="skiplink2"><a href="#content"><%:Skip to content%></a></span>
</p>
<div class="hostinfo">
	<%=hostname%> | <%=qmpheader%> | <%=luci.version.distversion%> |
	<%:Load%>: <%="%.2f" % load1%> <%="%.2f" % load5%> <%="%.2f" % load15%>
	<span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">
		| <%:Auto Refresh%>:
		<span id="xhr_poll_status_on"><%:on%></span>
		<span id="xhr_poll_status_off" style="display:none"><%:off%></span>
	</span>
</div>
<div id="header">
	<div class="banner" style="background-color: #000; display: block; clear: both; height: 58px;">
		<div style="float:left;padding-left:24px"><a href="http://qmp.cat" target="_blank"><img src="/luci-static/qmp/qmp_small.png" height="45px" alt="qMp" style="padding: 5px;" border="0"/></a></div>
        <div style="float:left; padding-top:20px;padding-left:5px;color:#ff9900"><h2>Quick Mesh Project</h2></div>
	</div>
</div>

<%-
	local function submenu(prefix, node)
		local childs = disp.node_childs(node)
		if #childs > 0 then
%>
	<ul id="submenu_<%=string.gsub(string.gsub(prefix, "/", "_"), "^_(.-)_$", "%1")%>">
		<%-
			for i, r in ipairs(childs) do
				local nnode = node.nodes[r]
				local href  = controller .. prefix .. r .. "/" ..
					(nnode.query and http.build_querystring(nnode.query) or "")
		%>
			<li>
				<a<%=ifattr(nnode._menu_selected, "class", "active")%> href="<%=luci.util.pcdata(href)%>"><%=translate(nnode.title)%></a>
				<%- submenu(prefix .. r .. "/", nnode) %>
			</li>
		<%-
			end
		%>
	</ul>
<%
		end
	end
%>

<div id="menubar">
<h2 class="navigation"><a id="navigation" name="navigation"><%:navigation Navigation%></a></h2>
<ul id="mainmenu" class="dropdowns">
	<%
		local childs = disp.node_childs(cattree)
		if #childs > 0 then
			for i, r in ipairs(childs) do
				local nnode = cattree.nodes[r]
				local href  = controller .. "/" .. category .. "/" .. r ..
					(nnode.query and http.build_querystring(k.query) or "")
	%>
		<li>
			<a<%=ifattr(nnode._menu_selected, "class", "preactive")%> href="<%=href%>"><%=translate(nnode.title)%></a>
			<%- submenu("/" .. category .. "/" .. r .. "/", nnode) %>
		</li>
	<%
			end
		end
	%>
	<li></li>
</ul>

<% if #categories > 1 then %>
	<ul id="modemenu">
	<% for i, r in ipairs(categories) do %>
		<li><a<%=ifattr(request[1] == r, "class", "active")%> href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a></li>
	<% end %>
	</ul>
<% end %>

<%
if tree.nodes[category] and tree.nodes[category].ucidata then
	local ucic = 0
	for i, j in pairs(require("luci.model.uci").cursor():changes()) do
		for k, l in pairs(j) do
			for m, n in pairs(l) do
				ucic = ucic + 1;
			end
		end
	end
-%>
	<div id="savemenu">
		<% if ucic > 0 then %>
			<a class="warning" href="<%=controller%>/<%=category%>/uci/changes/?redir=<%=http.urlencode(http.formvalue("redir") or REQUEST_URI)%>"><%:Unsaved Changes%>: <%=ucic%></a>
		<% end -%>
	</div>
<% end %>

<div class="clear"></div>
</div>

<div id="maincontainer">

	<div id="maincontent">
		<noscript>
			<div class="errorbox">
				<strong><%:Java Script required!%></strong><br />
				<%:You must enable Java Script in your browser or LuCI will not work properly.%>
			</div>
		</noscript>

		<%- if luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
		<div class="errorbox">
			<strong><%:No password set!%></strong><br />
			<%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%><br />
			<a href="<%=pcdata(luci.dispatcher.build_url("admin/system/admin"))%>"><%:Go to password configuration...%></a>
		</div>
		<%- end -%>
